*{
    padding: 0;
    margin: 0;
}
.product_bg{
    width:100%;
    height:100vh;
    padding: 5vh 5vh;
    background: url('../Images/product_background.png') 100% 50% /  75% no-repeat fixed;
}
.addProduct_container{
    width: 50rem;
    padding: 3rem;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgb( 0 0 0 / 10%);
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.add_btn{
    color : white;
    background-color: #59c210;
    border: none;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 2px auto;
    height: 2.5rem;
    border-radius: 4px;
}
.add_btn:hover{
    color : white ;
    background-color: #42A410;
}